reset
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0} 
body{font:12px"宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;} 
a{color:#2d374b;text-decoration:none} 
a:hover{color:#cd0200;text-decoration:underline} 
em{font-style:normal} 
li{list-style:none} 
img{border:0;vertical-align:middle} 
table{border-collapse:collapse;border-spacing:0} 
p{word-wrap:break-word}
.a2001_body *{
  color: #365712;
}
@font-face{
  font-family: icon;
  src: url(../src/img3/csi.woff);
}
*{
  z-index: 1;
}
.container{
  background-repeat: repeat-y;
  background-size: contain;
  z-index: -1;

}
.s2001_container{
  background-image: url(../src/img3/bg2.jpg);
  background-size: cover;
}

/* s2001_nav 部分 右上角logo */
.s2001_topimg{
  width: 40%;
  position: absolute;
  top: 0;
  right: 0px;
  
}
/* s2001_nav padding 媒体查询 */
@media screen and (max-width:768px){
  .s2001_nav{
    padding-top: 50px;
  }
}
@media screen and (min-width:768px) and (max-width: 992px ){
  .s2001_nav{
    padding-top: 100px;
  }
}
@media screen and (min-width:992px) and (max-width:1240px ){
  .s2001_nav{
    padding-top: 120px;
  }
}
 @media screen and (min-width: 1240px) {
  .s2001_nav{
    padding-top: 150px;
  }
}


/* s2001_nav 小文字体 */
.s2001_nav span{
  /* color: rgb(118, 25, 131); */
  font: 14px "Microsoft Yahei";
  padding-bottom: 4px;
}
.s2001_nav .s2001_nav_span{
  font-size: 1.2rem;
}
.s2001_nav h1{
  font:3rem "Microsoft Yahei";
}
.s2001_nav h1 span {
  font-size: 2.5rem;
  color: #db8000;
}
.s2001_nav h1 .s3003big_span{
  color: #0a6e6e;
}

@media screen and (min-width:768px) {
  .s2001_nav .s2001_nav_span{
    font-size: 2rem;
  }
  .s2001_nav h1{
    font-size: 4rem;
  }
  .s2001_nav h1 span{
    font-size: 5rem;
  }
  
}
/* s2001_nav第一个span */
.s2001_nav_span{
  border-bottom: 3px solid rgb(10, 110, 110);
}
/* 最上侧的两个模块合体div 媒体查询 */
.s2002top_big{
    display: block;
    padding-left: 60px;
    padding-top: 120px;
}

/* 最上边的左边、右边和下中边div 样式 */
.s2002top_left,.s2002top_center,.s2002top_right{
    display: none;
    width: 42%;
    box-shadow: 0px 0px 3px 3px  rgba(0, 0, 0, 0.3);
    padding: 20px 20px 30px 40px;
    height: 260px;
    background: #fff;
}   
.s2002top_left h2,.s2002top_center h2,.s2002top_right h2{
    padding-bottom: 10px;
    border-bottom: 4px solid #db8000;
    padding-left: 50px;
    font: 2rem "Microsoft Yahei";
    font-weight: bold;
}
.s2002top_left{
    margin-right: 50px;
}
.s2002top_before1{
    position: relative;
}
.s2002top_before2{
    position: relative;
}
.s2002top_before3{
    position: relative;
}
.s2002top_before1::before{
    font-family: icon;
    font-size: 36px;
    color: #db8000;
    content: "\e025";
    position: absolute;
    top: 0;
    left: 0;
}
.s2002top_before2::before{
    font-family: icon;
    font-size: 38px;
    color: #db8000;
    content: "\e024";
    position: absolute;
    top: 0;
    left: 0;

}
.s2002top_before3::before{
    font-family: icon;
    font-size: 24px;
    color: #db8000;
    content: "\e026";
    position: absolute;
    top: 0;
    left: 0;
}
.s2002top_center{
    margin: auto;

}
/* 第一个大title */
.s2002title_1 span {
    display: block;
    color: #fff;
    background: #db8000;
    text-align: center;
    letter-spacing: 1px;
}
.s2002title_1 h1{
    font: 3rem "Microsoft Yahei";
  }
@media screen and (max-width: 768px){
    .s2002title_1{
      padding-top: 40px;
      }
.s2002title_1 span {
    width: 100px;
    height: 30px;
    font-size: 2rem;
}
.s2002title_1 h1{
    font-size: 2rem;
}
}
@media screen and (min-width: 768px){
.s2002title_1{
    padding-left: 50px;
    padding-top: 80px;
}
.s2002title_1 span {
    width: 150px;
    height: 50px;
    font-size: 3rem;
    line-height: 50px;
}


}


@media screen and (max-width:768px){
    .s2002top_left h2,.s2002top_center h2,.s2002top_right h2{
        font: 1.5rem "Microsoft Yahei";
    }
    .s2002top_big{
        padding-left: 0;
        padding-top: 90px;
    }
    .s2002top_left{
        margin-right: 20px;
    }
    .s2002top_big2{
        padding-top: 40px;
    }
}
@media screen and (min-width:768px) and (max-width: 992px ){
    
    .s2002top_left h2,.s2002top_center h2,.s2002top_right h2{
        font: 1.5rem "Microsoft Yahei";
    }
    .s2002top_left,.s2002top_center,.s2002top_right{
        width: 46%;
    }
    .s2002top_big{
        padding-left: 0;
        padding-top: 90px;
    }
    .s2002top_left{
        margin-right: 20px;
    }
    .s2002top_big2{
        padding-top: 40px;
    }
}
@media screen and (min-width:992px) and (max-width:1240px ){
    .s2002top_left h2,.s2002top_center h2,.s2002top_right h2{
        font: 2rem "Microsoft Yahei";
        
    }
    .s2002top_left,.s2002top_center,.s2002top_right{
        width: 46%;
    }
    .s2002top_big{
        padding-left: 0;
        padding-top: 90px;
    }
    .s2002top_left{
        margin-right: 20px;
    }
    .s2002top_big2{
        padding-top: 40px;
    }
}
 @media screen and (min-width: 1240px) {
    .s2002top_left,.s2002top_center,.s2002top_right{
        width: 46%;
    }
    .s2002top_big{
        padding-left: 0;
        padding-top: 240px;
    }
    .s2002top_left{
        margin-right: 20px;
    }
    .s2002top_big2{
        padding-top: 50px;
        padding-bottom: 160px;
    }
}
 @media screen and (max-width:768px){
    .s2002top_left,.s2002top_right{
        float: left;
    }
    .s2002mid{
        padding-left: 80px;
       padding-top: 100px;
    }
    .s2002mid_left{
       margin-top: 80px; 
      
    }
    .s2002mid_center{
        margin-top: -20px;
    }
    .s2002mid_right{
        margin-top: 30px;
    }
}
@media screen and (min-width:768px) and (max-width: 992px ){
    .s2002top_left,.s2002top_right{
        float: left;
    }
    .s2002mid{
        padding-left: 80px;
       padding-top: 140px;
    }
    .s2002mid_left{
       margin-top: 90px; 
      
    }
    .s2002mid_center{
        margin-top: -40px;
    }
    .s2002mid_right{
        margin-top: 40px;
    }
}
@media screen and (min-width:992px) and (max-width:1240px ){
    .s2002top_left,.s2002top_right{
        float: left;
    }
    .s2002mid{
        padding-left: 80px;
       padding-top: 100px;
    }
    .s2002mid_left{
       margin-top: 80px; 
      
    }
    .s2002mid_center{
        margin-top: -20px;
    }
    .s2002mid_right{
        margin-top: 30px;
    }
}
 @media screen and (min-width: 1240px) {

    .s2002top_left,.s2002top_right{
        float: left;
        display: none;
    }
    .s2002mid{
        padding-left: 80px;
       padding-top: 100px;
    }
    .s2002mid_left{
       margin-top: 80px; 
      
    }
    .s2002mid_center{
        margin-top: -20px;
    }
    .s2002mid_right{
        margin-top: 30px;
    }
}
.s2002top_right{
    margin-top: 30px;
}
.s2002mid_left,.s2002mid_center,.s2002mid_right{
    display: block;
    width: 30%;
    float: left;
} 
.s2002mid_center{
    background-image: url(../src/img3/b18.png);
}
.s2002mid_left,.s2002mid_right{
  background-image: url(../src/bg16.png);
}
.s2002mid_left,.s2002mid_center,.s2002mid_right{
    height: 300px; 
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    padding: 150px 50px 60px 25px;
}
@media  screen and(max-width:768px){
  .s2002mid_left p,.s2002mid_center p,.s2002mid_right p{
    padding-left: 20px;
  }
}

.s2002mid_left p,.s2002mid_center p,.s2002mid_right p{
   width: 150px;
   height: 50px;
   float: left;
   text-align: center;
}
/* .s2002bg_img1{

} */
.s2002bg_img1 img{
    display: block;
    width: 40px;
    position: absolute;
    left: 80px;
    top: 80px;
}
.s2002bg_fff{
  display: block;
  width: 320px;
  height: 240px;
  padding-left: 10px;
  padding-top: 20px;
  background: #fff;
}

.img {
  display: none;
  position: fixed;
  background: #e6e6e6;
  right: 100px;
  bottom: 150px;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 4px;
}
/* .img{

  display: block;
  left: 103px;
  top: 12px;
  margin-right: 3px;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 12px;
  border-left-width: 0;
  border-right-color: #e5e5e5;
  -webkit-filter: drop-shadow(0 2px 12px rgba(0, 0, 0, 0.03));
  filter: drop-shadow(0 2px 12px rgba(0, 0, 0, 0.03));
} */
.img{
  display: block;
  width: 0;
  height: 0;
  border:50px solid transparent; 
  border-bottom-color:#db8000;
  background:transparent;
}
.img span{
  display: block;
  width: 40px;
  height: 80px;
  
  color: 20px;
  background-color: #db8000;
  position: absolute;
  top: 50px;
  text-align: center;
  left: -20px;
}



/* 第2/3个大 title */
.s2002title_2 h1{
  font: 3rem "Microsoft Yahei";
}
@media screen and (min-width:768px) and (max-width:992px){
    padding-bottom: 60px;
    margin-bottom: 40px;
}
@media screen and (min-width:992px){
  .s2002title_2 h1{
    font-size: 4rem;
  }
  .s2002title_1 h1{
    font-size: 4rem;
  }
}
/* 第2个title大标题 媒体查询 */
@media screen and (min-width:1240px){
  .s2002mid_right  h2{
    font-size: 2.5rem;
  }
} 
@media screen and (max-width:768px){
  .s2002title_2{
    padding-top: 50px;
    padding-left: 400px;
  }
  .s2002title_2 h1{
    font-size: 2rem;
  }
}
@media screen and (min-width:768px) and (max-width: 992px ){
  .s2002title_2{
    padding-top: 80px;
    padding-left: 360px;
  }
}
@media screen and (min-width:992px) and (max-width:1240px ){
  .s2002title_2{
    padding-top: 120px;
    padding-left: 500px;
  }
}
 @media screen and (min-width: 1240px) {

  .s2002title_2{
    padding-top: 200px;
    padding-left: 600px;
  }
}
/*  第2个title大标题下的span 媒体查询*/
.s2002title_2 span{
  display: block;
  color: #fff;
  background: #db8000;
  text-align: center;
  letter-spacing: 1px;
}
@media screen and (max-width:768px){
  .s2002title_2 span{
    width: 100px;
    height: 30px;
    font-size: 2rem;
  }
}
/* 标题2下的 span 媒体查询 */
@media screen and (min-width:768px) {
  .s2002title_2 span{
    width: 150px;
    height: 50px;
    font-size: 3rem;
    line-height: 50px;  }
}
/*中下三栏媒体查询 */
@media screen and (max-width:768px){
  .s2002mid_bottom{
    padding-top:30px;
    padding-left: 200px;
   
   }
   .s2002mid_bottom1{
     padding-top: 50px;
     padding-left: 120px;
   
   }
   .s2002mid_bottom2{
     padding-top: 50px;
     padding-left: 50px;
   
   }
}
@media screen and (min-width:768px) and (max-width: 992px ){
  .s2002mid_bottom{
    padding-top:30px;
    padding-left: 200px;
   
   }
   .s2002mid_bottom1{
     padding-top: 50px;
     padding-left: 120px;
   
   }
   .s2002mid_bottom2{
     padding-top: 50px;
     padding-left: 50px;
   
   }
}
@media screen and (min-width:992px) and (max-width:1240px ){
  .s2002mid_bottom{
    padding-top:30px;
    padding-left: 400px;
   
   }
   .s2002mid_bottom1{
     padding-top: 50px;
     padding-left: 330px;
   
   }
   .s2002mid_bottom2{
     padding-top: 50px;
     padding-left: 200px;
   
   }
}
 @media screen and (min-width: 1240px) {
.s2002mid_bottom{
 padding-top:30px;
 padding-left: 480px;

}
.s2002mid_bottom1{
  padding-top: 50px;
  padding-left: 270px;

}
.s2002mid_bottom2{
  padding-top: 50px;
  padding-left: 100px;

}
}


.s2002bottom_div1{
  position: relative;
  display: block;
}

.s2002bottom_div1::before{
  display: block;
  background-image: url(../src/img3/17.png);
  content: "";
  width: 63px;
  height: 106px;
  background-size: cover;
  z-index: 1;
  background-color: #fff;
  position: absolute;
  top: -7px;
  left: -6px;
}
.s2002bottom_div1{
  display: block;
  width: 300px;
  height: 200px;
  box-shadow: 0px 0px 3px 3px  rgba(0, 0, 0, 0.3);
  padding-top: 20px;
  padding-left: 70px;
  background: #fff;
}
.s2002bottom_div1 span,p{
  float: left;

}

.s2002bottom_div1 p{
  letter-spacing: 2px;
  position: absolute;
  margin-top: 42px;
  margin-left: -36px;
  line-height: 2rem;
}
.s2002hr3{
  display: block;
  border-bottom: 2px solid #365712;
  height: 2px;
  width: 24px;
  float: left;
  margin-bottom: 10px;
}
.s2002s_span1{
  margin-top: 6px;
  margin-left: -24px;
}
.s2002bottom_div2::before{
  background-image: url(../src/img3/18.png);
}
.s2002bottom_div3::before{
  background-image: url(../src/img3/19.png);
}
/* 左下三栏样式 */
.s2003bottom_3{
  padding-left: 50px;
  padding-bottom: 70px;
 
}
@media screen and (min-width:992px){
 .s2003bottom_3{
   padding-right: 60px;
 }
 .s2003bottom_4{
   padding-right: 60px;
 }
}
@media screen and (min-width:1240px){
  .s2003bottom_3{
    padding-right: 160px;
  }
  .s2003bottom_4{
    padding-right: 160px;
  }
}
.s2002margin_top{

  margin-top: 40px;
}
.s2003radius_1{

  display: block;
  width: 100px;
  height: 30px;
  text-align: center;
  background: #db8000;
  border-radius: 15px;
  color: #fff;
  font-size: 1.5rem;
  line-height: 30px;
  padding-bottom: 30px;
}
.s3001_body .s3003radius_1{
  background: #0a6e6e;
  color: #fff;
}
.s2003radius_1::before{
  display: block;
  width: 18px;
  height: 18px;
  content: "";
  background: #db8000;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: -14px;
}
.s3003radius_1::before{
  background: #0a6e6e;
 
}
.s2003radius_1::after{
  display: block;
  width: 6px;
  height: 20px;
  content: "";
  background: #db8000;
  position: absolute;
  top: -26px;
  left: -8px;
}
.s3003radius_1::after{
  background: #0a6e6e;
}
.s2003p_1{
  border-top: 2px solid #db8000;
  display: block;
  width: 240px;
  height: 80px;
  margin-top: 20px;
  padding: 20px 20px 0px 20px;
  letter-spacing: 2px;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}
.s3003p_1{
  border-top: 2px solid #0a6e6e;
}
.s2003p_1::before{
  display: block;
  width: 6px;
  height: 160px;
  content: "";
  background: #db8000;
  position: absolute;
  top: 40px;
  left: -7px;
}
.s3003p_1::before{
  background: #0a6e6e;
}
.radius_2::after{
  display: none;
}
.radius_3::after{
  display: none;
}
.p_2{
  height: 100px;
}
.p_3::before{
  height: 92px;
}
.container .s2003padding_bottom{
  padding-bottom: 50px;
}
/* 下边（2002年）右侧 */
.s2003right_divs{
  float: right;
  width: 360px;
  height: 100px;
  box-shadow:  0px 0px 3px 3px  rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  font-size: 2rem;
  padding-left: 160px;
  padding-top: 20px;
  position: relative;
  background: #fff;
}
.s2003right_divs::before{
  display: block;
 font-size: 48px;
 font-family: icon;
 content: "\e013";
 position: absolute;
 top: 0px;
 left: 50px;
 color: #fff;
}
.s2003right_div1::before{
  left:56px;
}

.s2003right_div3::before{
 
  left: 56px;
}
.s2003right_divs::after{
  display: block;
  content: "";
  width: 78px;
  height: 90px;
  background-image: url(../src/img3/bgbig.png);
  background-size: cover ;
  position: absolute;
  top: 0;
  left: 34px;  
 z-index: -1;
}
 .s3003right_divs::after{

   background-size: cover ;
   background-image: url(../src/img3/21.png);
}

/* 右下边div 媒体查询 */
@media screen and (max-width:768px){
 .s2003right_divs{
   width: 280px;
   height: 80px;
   font-size: 1.8rem;
   padding-left: 120px;
   padding-top: 20px;
 }
 .s2003right_divs::before{
   font-size: 36px;
   left:44px ;
 }
 /* 右侧第一个div */
 .s2003right_divs::after{
 width: 54px;
 height: 62px;
 /* background-image: url(../src/img3/21@05.png); */
 }
  /* 右侧第2个div */
 .s2003right_div1::before{
  left: 48px;
}
 /* 右侧第3个div */
.s2003right_div2::before{
  
  left: 44px;
}
 /* 右侧第4个div */
.s2003right_div3::before{
 
  left: 48px;
}
}
.s2003right_div1::before{
  content: "\e014";
}
.s2003right_div2::before{
  content: "\e015";
}
.s2003right_div3::before{
  content: "\e016";
}
.s2004btm_h1{
  display: block;
  padding-top: 30px;
  padding-bottom: 50px;
}
.s2004btm_h1 h1{
  display: block;
  text-align: center;
  font: 3rem "Microsoft Yahei";
  letter-spacing: 4px;
  line-height: 3rem;
}
@media screen and (min-width:768px){
  .s2004btm_h1{
    display: block;
    padding-top: 50px;
  }
  .s2004btm_h1 h1{
    font-size: 4rem;
    line-height: 4rem;
  }
}

.s2004bottom_big{
  position: relative;
  display: block;
  text-align: center;
  width: 300px;
  height: 100px;
  margin: auto;
  background-image: url(../src/img3/26.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.s3004bottom_big{
  background-image: url(../src/img3/22.png);
}
.s2004bottom_left{
 display: block;
 width: 200px;
 height: 100px;
 float: left;
 padding: 1rem;
 
 
}
.s2004bottom_left span{
  color: #fff;
}
.s2004bottom_right{
  display: block;
  width: 100px;
  height: 100px;
  float: left;
  padding: 1rem;
}
.s2004bottom_top{
  display: block;
  text-align: center;
}
.s2004bottom_down{
  text-align: center;
  font: 3rem "Microsoft Yahei";
}




















/* 底部form样式 */
.s2004btm_div{
  background: #365712;

}
.s3004btm_div{
  background: #761983;
}
.s2004bottom_form{
  margin:2rem 0;
}
.s2004form_submit a{
  display: block;
  text-align: center;
  font-size: 1.5rem;
  padding:1rem;
  background: #0a6e6e;
  color: #fff;
}
.s2004form_submit a:hover{
  color: #db8000;
  background: #fff;
}
.s2004form_name::before{
  font-family: icon;
  font-size: 21px;
  content: '\e003';
  position: absolute;
  margin-top: 8px;
  margin-left: 7px;
}
.s2004form_phone::before{
  font-family: icon;
  font-size: 32px;
  content: '\e017';
  position: absolute;
  margin-top: -2px;
  margin-left: 8px;
}
.s2004form_phone .s2004getlogon{
  position: absolute;
  right: 0;
  height: 2rem;
  margin-top: -2.5rem;
  margin-right: 2rem;
  padding-left: 2rem;
  display: block;
}
.s2004form_phone .s2004getlogon::before{
  font-family: icon;
  font-size: 20px;
  content: '\e011';
  position: absolute;
  margin-top: -4px;
  margin-left: -27px;
}
.s2004btm_div input{
  border:0;
  outline: 0;
  width: 100%;
  padding:1rem 1rem 1rem 3rem;
}

body a:hover{
  text-decoration: none;
  
}
/* 底边form */

/*媒体查询小medom */
/* @media screen and (max-width:768px){

}
@media screen and (min-width:768px) and (max-width: 992px ){

}
@media screen and (min-width:992px) and (max-width:1240px ){

}
 @media screen and (min-width: 1240px) {

}
/* 


 */
/* .top-img2 {
  top: 4000px;
} */ 
.s3001_body *{
  color: rgb(118, 25, 131);
}
.s3001container{
  background-image: url(../src/img3/bg3.jpg);

}

/* 第一个title大标题 默认样式 */
.s3002title_1 h1{
  font:2rem "Microsoft Yahei";
}

/* 第一个title大标题 媒体查询 */
@media screen and (min-width:768px){
  .s3002title_1 h1{
    font-size: 4rem;
  }
} 
@media screen and (max-width:768px){
  .s3002title_1{
    padding-top: 100px;
    padding-left: 80px;
  }
}
@media screen and (min-width:768px) and (max-width: 992px ){
  .s3002title_1{
    padding-top: 180px;
    padding-left: 100px;
  }
}
@media screen and (min-width:992px) and (max-width:1240px ){
  .s3002title_1{
    padding-top: 200px;
    padding-left: 140px;
  }
}
 @media screen and (min-width: 1240px) {

  .s3002title_1{
    padding-top: 240px;
    padding-left: 160px;
  }
}
/*  第一个title大标题下的span 媒体查询*/
.s3002title_1 span{
  display: block;
  color: #fff;
  background: #0a6e6e;
  text-align: center;
  letter-spacing: 1px;
}
@media screen and (max-width:768px){
  .s3002title_1 span{
    width: 100px;
    height: 30px;
    font-size: 2rem;
  }
}
/* 标题1下的 span 媒体查询 */
@media screen and (min-width:768px) {
  .s3002title_1 span{
    width: 150px;
    height: 50px;
    font-size: 3rem;
    line-height: 50px;  }
}
/* 中三栏 不规则梯形 */
/* 中三栏的媒体查询 */
@media screen and (max-width:768px){
  .s3002mid_1{
    padding-top: 60px;
    padding-left: 10px;
    padding-bottom: 20px;
  }
  .s3002mid_2{
    padding-left: 40px;
    padding-bottom: 20px;
  }
  .s3002mid_3{
    padding-left: 30px;
  }
}
@media screen and (min-width:768px) and (max-width: 992px ){
  .s3002mid_1{
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .s3002mid_2{
    padding-left: 40px;
    padding-bottom: 40px;
  }
  .s3002mid_3{
    padding-left: 20px;
  }
}
@media screen and (min-width:992px) and (max-width:1240px ){
  .s3002mid_1{
    padding-top: 100px;
    padding-left: 10px;
    padding-bottom: 60px;
    
  }
  .s3002mid_2{
    padding-left: 80px;
    padding-bottom: 60px;
  }
  .s3002mid_3{
    padding-left: 60px;
  }
}
 @media screen and (min-width: 1240px) {
  .s3002mid_1{
    padding-top: 120px;
    padding-bottom: 80px;
  
  }
  .s3002mid_2{
    padding-left: 100px;
    padding-bottom: 80px;
  }
  .s3002mid_3{
    padding-left: 70px;
  }
}
/* 中三栏左侧img区域 div */
.s3002mid_left{
  float: left;
  display: block;
  padding-top: 40px;
}
.s3002mid_right{
  float: left;
  width: 60%;
  box-shadow:  0px 0px 3px 3px  rgba(0, 0, 0, 0.3);
  background: #fff;
}
.s3002mid_left img{
  display: block;
  float: right;
}
/* 中三栏右侧 div 子元素样式*/
.s3002mid_right h2{
  padding-bottom: 10px;
  border-bottom: 4px solid #0a6e6e;
}
.s3002mid_right::before{
  display: block;
  width: 13px;
  height: 13px;
  content: "";
  border-radius: 50%;
  background: #0a6e6e;
  position: absolute;
  top: 20px;
  margin-left: -33px;
}
@media screen and (max-width:768px){
  .s3002mid_right::before{
    top: 10px;
    margin-left: 0px;
  }
}
/*   中三栏右侧 div 子元素媒体查询*/
@media screen and (max-width:768px){
  .s3002mid_right h2{
    font-size: 2rem;
  }
  .s3002mid_right{
    width: 60%;
    padding: 10px;
  }
  .s3002mid_left img{
    width: 150px;
  }
}
@media screen and (min-width:768px) and (max-width:992px){
  .row .s3002mid_right{
    padding: 60px 40px 50px 50px;
  }
}
@media screen and (min-width:992px) and (max-width:1240px ){
  .row .s3002mid_right{
    padding: 70px 40px 50px 50px;
  }
}
 @media screen and (min-width: 1240px) {
  .row .s3002mid_right{
     padding: 90px 40px 50px 50px;
  }
}
/* 第2/3个大 title */
.s3002mid_right h2{
  font:2rem "Microsoft Yahei";
}
.s3002title_2 h1{
  font: 3rem "Microsoft Yahei";
}
@media screen and (min-width:992px){
  .s3002title_2 h1{
    font-size: 4rem;
  }
}
/* 第2个title大标题 媒体查询 */
@media screen and (min-width:1240px){
  .s3002mid_right  h2{
    font-size: 2.5rem;
  }
} 
@media screen and (max-width:768px){
  .s3002title_2{
    padding-top: 50px;
    padding-left: 400px;
  }
  .s3002title_2 h1{
    font-size: 2rem;
  }
}
@media screen and (min-width:768px) and (max-width: 992px ){
  .s3002title_2{
    padding-top: 80px;
    padding-left: 360px;
  }
}
@media screen and (min-width:992px) and (max-width:1240px ){
  .s3002title_2{
    padding-top: 120px;
    padding-left: 500px;
  }
}
 @media screen and (min-width: 1240px) {

  .s3002title_2{
    padding-top: 200px;
    padding-left: 600px;
  }
}
/*  第2个title大标题下的span 媒体查询*/
.s3002title_2 span{
  display: block;
  color: #fff;
  background: #0a6e6e;
  text-align: center;
  letter-spacing: 1px;
}
@media screen and (max-width:768px){
  .s3002title_2 span{
    width: 100px;
    height: 30px;
    font-size: 2rem;
  }
}
/* 标题2下的 span 媒体查询 */
@media screen and (min-width:768px) {
  .s3002title_2 span{
    width: 150px;
    height: 50px;
    font-size: 3rem;
    line-height: 50px;  }
}
/*中下三栏媒体查询 */
@media screen and (max-width:768px){
  .s3002mid_bottoms{
    padding-top:30px;
    padding-left: 200px;
   
   }
   .s3002mid_bottom1{
     padding-top: 50px;
     padding-left: 120px;
   
   }
   .s3002mid_bottom2{
     padding-top: 50px;
     padding-left: 50px;
   
   }
}
@media screen and (min-width:768px) and (max-width: 992px ){
  .s3002mid_bottoms{
    padding-top:30px;
    padding-left: 200px;
   
   }
   .s3002mid_bottom1{
     padding-top: 50px;
     padding-left: 120px;
   
   }
   .s3002mid_bottom2{
     padding-top: 50px;
     padding-left: 50px;
   
   }
}
@media screen and (min-width:992px) and (max-width:1240px ){
  .s3002mid_bottoms{
    padding-top:30px;
    padding-left: 400px;
   
   }
   .s3002mid_bottom1{
     padding-top: 50px;
     padding-left: 330px;
   
   }
   .s3002mid_bottom2{
     padding-top: 50px;
     padding-left: 200px;
   
   }
}
 @media screen and (min-width: 1240px) {
.s3002mid_bottoms{
 padding-top:30px;
 padding-left: 480px;

}
.s3002mid_bottom1{
  padding-top: 50px;
  padding-left: 270px;

}
.s3002mid_bottom2{
  padding-top: 50px;
  padding-left: 100px;

}
}
.s3002bg_fff{
  display: block;
  width: 320px;
  height: 240px;
  padding-left: 10px;
  padding-top: 20px;
  background: #fff;
}


.s3002bottom_div1{
  position: relative;
  display: block;
}

.s3002bottom_div1::before{
  display: block;
  background-image: url(../src/img3/17.png);
  content: "";
  width: 63px;
  height: 106px;
  background-size: cover;
  z-index: 1;
  background-color: #fff;
  position: absolute;
  top: -7px;
  left: -6px;
}
.s3002bottom_div1{
  display: block;
  width: 300px;
  height: 200px;
  box-shadow: 0px 0px 3px 3px  rgba(0, 0, 0, 0.3);
  padding-top: 20px;
  padding-left: 70px;
  background: #fff;
}
.s3002bottom_div1 span,p{
  float: left;

}

.s3002bottom_div1 p{
  letter-spacing: 2px;
  position: absolute;
  margin-top: 42px;
  margin-left: -36px;
  line-height: 2rem;
}
.s3002hr3{
  display: block;
  border-bottom: 2px solid #761983;
  height: 2px;
  width: 24px;
  float: left;
  margin-bottom: 10px;
}
.s3002s_span1{
  margin-top: 6px;
  margin-left: -24px;
}
.s3002bottom_div2::before{
  background-image: url(../src/img3/18.png);
}
.s3002bottom_div3::before{
  background-image: url(../src/img3/19.png);
}
/* 左下三栏样式 */
.s3003bottom_3{
  padding-left: 50px;
  padding-bottom: 70px;
 
}
